<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="IE=edge">
    <meta name="viewport" content="text/html; width=device-width, initial-scale=1.0">
    <title>Convertor</title>
    <link rel="stylesheet" th:href="@{css/normalize.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>

<body>

<div class="container">
    <div class="main_menu flex-column">

        <a href="#" class="header-logo"><img src="./img/Logo.png" alt="Logo"></a>
        <p id="helper" class="main_menu-help_text">Загрузите исходную таблицу и шаблон...</p>

        <ul class="list-reset main_menu-list flex-column">
            <li class="li-bth">
                <div class="flex">
                    <button name="main-bth-action" id="combine" class="bth-reset main_menu-bth" disabled
                            onclick="main_bth(this.id)">Объеденить</button>
                </div>
            </li>
            <li class="li-bth">
                <div class="flex">
                    <button name="main-bth-action" id="divide" class="bth-reset main_menu-bth" disabled
                            onclick="main_bth(this.id)">Разделить</button>
                </div>
            </li>
            <li class="li-bth">
                <div class="flex">
                    <button name="main-bth-action" id="delete" class="bth-reset main_menu-bth" disabled
                            onclick="main_bth(this.id)">Удалить</button>
                </div>
            </li>
            <li>
                <button id="cancel" class="bth-reset main_menu-bth"
                        onclick="cancelOnClick()" disabled>Отменить</button>
            </li>
            <li class="li-bth">
                <div class="flex">
                    <button name="main-bth-action" id="connect" class="bth-reset main_menu-bth" disabled
                            onclick="connectOnClick(this.id)">Сопоставить столбцы</button>
                </div>
            </li>
            <li>
                <button class="bth-reset main_menu-bth"
                        onclick="convertOnClick(this.id)" style="margin-bottom: 0">Конвертировать</button>
            </li>
        </ul>
    </div>

    <div class="main_field flex-column">

        <div style="margin-bottom: 70px;">
            <p class="field_inter-title">Исходная таблица</p>

            <div id="main_field1" class="main_field-input">
                <div>
                    <div id="upload1">
                        <form  id="form1" method="post" th:action="@{/upload_source}" enctype="multipart/form-data">
                            <input type="file" name="file"  />
                        </form>
                        <button id="add_table_1" onclick="uploader(this.id)">Загрузить</button>
                    </div>

                    <table id="table1">
                        <tbody id="tbody1">

                        <!--ряд с ячейками тела таблицы-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div>
            <p class="field_inter-title">Шаблон</p>
            <div id="main_field2" class="main_field-input">
                <div>
                    <div id="upload2">
                        <form  id="form2" method="post" th:action="@{/upload_source}" enctype="multipart/form-data">
                            <input type="file" name="file"  />
                        </form>
                        <button id="add_table_2" onclick="uploader(this.id)">Загрузить</button>
                    </div>

                    <table id="table2">
                        <tbody id="tbody2">

                        <!--ряд с ячейками тела таблицы-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="./script.js"></script>
</body>




</html>