<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="IE=edge">
        <meta name="viewport" content="text/html; width=device-width, initial-scale=1.0">
        <title>Convertor</title>
        <link rel="stylesheet" th:href="@{css/normalize.css}">
        <link rel="stylesheet" th:href="@{css/style.css}">
    </head>

    <body>
        <div class="container">
            <div class="main_menu flex-column">
                <a href="#" class="header-logo"><img src="./img/Logo.png" alt="Logo"></a>
                <p class="main_menu-help_text">Загрузите исходную таблицу и шаблон...</p>

                <ul class="list-reset main_menu-list flex-column">
                    <li><button class="bth-reset main_menu-bth">Объеденить</button></li>
                    <li><button class="bth-reset main_menu-bth">Разделить</button></li>
                    <li><button class="bth-reset main_menu-bth">Удалить</button></li>
                    <li><button class="bth-reset main_menu-bth" style="margin-bottom: 280px;">Отменить</button></li>
                    <li><button class="bth-reset main_menu-bth" style="margin-bottom: 0">Конвертировать</button></li>
                </ul>
            </div>

            <div class="main_field flex-column">

                <div class="samplee">
                    <p>Ниже меняем контент</p>
                    <div id="employeeIdSelect">Вот этот</div>
                    <button id="change" onclick="employeeSelect()">Поменять</button>
                </div>

                <div style="margin-bottom: 70px;">
                    <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                        <p class="field_inter-title">Исходная таблица</p>
                        <div class="form-group">
                            <input type="file" name="file" class="form-control-file">
                        </div>
                        <button type="submit" class="btn btn-primary">Загрузить</button>
                    </form>
                </div>
                <div style="margin-bottom: 70px;">
                    <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                        <p class="field_inter-title">Шаблон</p>
                        <div class="form-group">
                            <input type="file" name="file" class="form-control-file">
                        </div>
                        <button type="submit" class="btn btn-primary">Загрузить</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="./script.js"></script>
    </body>
</html>